// header styles

header {
  padding: 4rem 0;

  .logo {
    width: 165px;
    cursor: pointer;
  }
  .link {
    color: $VeryDarkBlue;
    padding: 0.75rem 0;
  }
  .link:not(:last-child) {
    margin-right: 3.45rem;
  }
}
